.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f6dac;
    padding: 10px 20px;
    font-size: 21px;
}

.headerStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f6dac;
}

.leftContainer, .rightContainer {
    display: flex;
    align-items: center;
}

.nameStyle {
    color: white;
    margin: 0;
}

.linkStyle {
    color: white;
    text-decoration: none;
}

.name {
    color: white;
    margin: 0;
}

.linkedin-logo {
    display: flex;
    align-items: center; /* Center the logo vertically within the container */
    margin-left: 40px;
}

.linkedin-logo img {
    display: block;
    margin: auto 0; /* Ensure the image inside is centered */
}